@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 스타일 */
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

img.select-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none; /* 구형 브라우저 대비 */
  user-drag: none; /* Firefox 대비 */
}
